<br>
<hr>

<div id="track">
   <img src="{{track.album.images[0].url}}" alt="">
      <h3>  '{{ track.name }}' </h3>
  </div>

<div id="track-features">
    <h2>Track audio features</h2>
    <h3>Danceability :{{trackFeatures.danceability}}</h3>
    <h3>Key :{{trackFeatures.key}}</h3>
    <h3>Tempo :{{trackFeatures.tempo}}</h3>
    <h3>Energy :{{trackFeatures.energy}}</h3>
    <h3>Instrumentalness :{{trackFeatures.instrumentalness}}</h3>
    <h3>Beat :{{trackFeatures.time_signature}}/4</h3>
</div>